<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
h1 {text-align: center}
</style>
<meta charset="ISO-8859-1">
<title>Person Demographics</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
</head>
<body>
	<h1 align="center">Home</h1>
	<p>
	</p>
	<div align="center">
	<a th:href = "@{/showNewPersonForm}" class="btn btn-secondary btn-sm mb-3"> Add Person </a>
	</div>
	<p>
	</p>
	<div align="center">
	<a th:href = "@{/showAllPersonsTable}" class="btn btn-secondary btn-sm mb-3"> List all Persons </a>
	</div>
</body>
</html>